<div>
  <h2 id="page-heading" data-cy="DetailsHeading">
    <span jhiTranslate="lobbyforplayersApp.details.home.title">Details</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.details.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-details"
        [routerLink]="['/details/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.details.home.createLabel"> Create a new Details </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="details?.length === 0">
    <span jhiTranslate="lobbyforplayersApp.details.home.notFound">No details found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="details && details.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.loginName">Login Name</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.password">Password</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.lastName">Last Name</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.firstName">First Name</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.securtiyQuestion">Securtiy Question</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.securityAnswer">Security Answer</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.parentalPassword">Parental Password</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.firstCdKey">First Cd Key</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.otherInformation">Other Information</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.enteredDate">Entered Date</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.details.orderDate">Order Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let details of details; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/details', details.id, 'view']">{{ details.id }}</a>
          </td>
          <td>{{ details.loginName }}</td>
          <td>{{ details.password }}</td>
          <td>{{ details.lastName }}</td>
          <td>{{ details.firstName }}</td>
          <td>{{ details.securtiyQuestion }}</td>
          <td>{{ details.securityAnswer }}</td>
          <td>{{ details.parentalPassword }}</td>
          <td>{{ details.firstCdKey }}</td>
          <td>{{ details.otherInformation }}</td>
          <td>{{ details.enteredDate | formatMediumDatetime }}</td>
          <td>{{ details.orderDate | formatMediumDate }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/details', details.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/details', details.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(details)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
