<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="questionary">
      <h2 data-cy="questionaryDetailsHeading"><span jhiTranslate="lobbyforplayersApp.questionary.detail.title">Questionary</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ questionary.id }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.questionary.process">Process</span></dt>
        <dd>
          <span>{{ questionary.process }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.questionary.questions">Questions</span></dt>
        <dd>
          <span>{{ questionary.questions }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/questionary', questionary.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
