<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="item">
      <h2 data-cy="itemDetailsHeading"><span jhiTranslate="lobbyforplayersApp.item.detail.title">Item</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ item.id }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.description">Description</span></dt>
        <dd>
          <span>{{ item.description }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.views">Views</span></dt>
        <dd>
          <span>{{ item.views }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.sellerName">Seller Name</span></dt>
        <dd>
          <span>{{ item.sellerName }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.sellerId">Seller Id</span></dt>
        <dd>
          <span>{{ item.sellerId }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.listedFlag">Listed Flag</span></dt>
        <dd>
          <span>{{ item.listedFlag }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.price">Price</span></dt>
        <dd>
          <span>{{ item.price }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.picturesPath">Pictures Path</span></dt>
        <dd>
          <span>{{ item.picturesPath }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.level">Level</span></dt>
        <dd>
          <span>{{ item.level }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.fixedPrice">Fixed Price</span></dt>
        <dd>
          <span>{{ item.fixedPrice }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.gameName">Game Name</span></dt>
        <dd>
          <span>{{ item.gameName }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.platform">Platform</span></dt>
        <dd>
          <span>{{ item.platform }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.language">Language</span></dt>
        <dd>
          <span>{{ item.language }}</span>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.order">Order</span></dt>
        <dd>
          <div *ngIf="item.order">
            <a [routerLink]="['/order', item.order?.id, 'view']">{{ item.order?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="lobbyforplayersApp.item.tags">Tags</span></dt>
        <dd>
          <span *ngFor="let tags of item.tags; let last = last">
            <a [routerLink]="['/tags', tags?.id, 'view']">{{ tags.tag }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/item', item.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
