<div>
  <h2 id="page-heading" data-cy="PaymentsHeading">
    <span jhiTranslate="lobbyforplayersApp.payments.home.title">Payments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.payments.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-payments"
        [routerLink]="['/payments/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.payments.home.createLabel"> Create a new Payments </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="payments?.length === 0">
    <span jhiTranslate="lobbyforplayersApp.payments.home.notFound">No payments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="payments && payments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.buyerUserId">Buyer User Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.sellerUserId">Seller User Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.sellerRecieved">Seller Recieved</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.buyerTransactionId">Buyer Transaction Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.sellerTransactionId">Seller Transaction Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.orderId">Order Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.packageId">Package Id</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.amount">Amount</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.game">Game</span></th>
          <th scope="col"><span jhiTranslate="lobbyforplayersApp.payments.status">Status</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payments of payments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/payments', payments.id, 'view']">{{ payments.id }}</a>
          </td>
          <td>{{ payments.buyerUserId }}</td>
          <td>{{ payments.sellerUserId }}</td>
          <td>{{ payments.sellerRecieved }}</td>
          <td>{{ payments.buyerTransactionId }}</td>
          <td>{{ payments.sellerTransactionId }}</td>
          <td>{{ payments.orderId }}</td>
          <td>{{ payments.packageId }}</td>
          <td>{{ payments.amount }}</td>
          <td>{{ payments.game }}</td>
          <td>{{ payments.status }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/payments', payments.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/payments', payments.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(payments)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
