<div class="container-fluid row">
  <div class="col-md-7 col-lg-8 mt-3">
    <h1 jhiTranslate="lobbyforplayersApp.item.home.title"></h1>
  </div>
  <div class="col-md-3 col-8 col-lg-2 mt-3">
    <button type="button" class="btn btn-info btn-lg" [routerLink]="['/item/new']">
      <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
      &nbsp;&nbsp;Sell
    </button>
  </div>
  <div class="col-md-2 col-4 d-md-block d-lg-none mt-3">
    <button class="btn btn-primary" type="button" (click)="toggleFilterForSmallScreen()">
      Filters
      <fa-icon [icon]="['fas', 'filter']"></fa-icon>
    </button>
  </div>
</div>
<div class="row">
  <!-- Sidebar filter section -->
  <section class="col-lg-3 col-xl-2 col-md-12 filterColumn border-primary d-none d-lg-block mt-3" [ngClass]="{ 'd-none': toggleFilter }">
    <div class="border-bottom ml-2">
      <h4>Filters</h4>
    </div>
    <div class="mt-2" [ngClass]="{ maxFilters: fullFilters }" #tagfilters>
      <span
        class="badge bg-info m-1 filterTags"
        *ngFor="let filter of filterText; let index = index"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="{{ filter }}"
      >
        <span class="filterText">{{ filter }}</span>
        <fa-icon class="mx-1 text-danger" [icon]="['fas', 'times']" (click)="removeFilter(index)"></fa-icon>
      </span>
    </div>
    <div class="mt-1">
      <a class="btn btn-link" *ngIf="fullFilters && filterText.length > 4" (click)="toggleFullFilters()"> Show More </a>
      <a class="btn btn-link" *ngIf="!fullFilters && filterText.length > 4" (click)="toggleFullFilters()"> Show Less </a>
    </div>
    <div class="accordion mt-3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true"
            aria-controls="panelsStayOpen-collapseOne"
          >
            Price
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body row">
            <nouislider class="p-3 col-12" (create)="createSlider($event)" [config]="priceRange" (end)="updatePrice($event)"></nouislider>
            <div class="col-6 form-group">
              <label for="minPrice">Min Price</label>
              <input type="number" class="form-control" id="minPrice" [(ngModel)]="prices.min" />
            </div>
            <div class="col-6 form-group">
              <label for="maxPrice">Max Price</label>
              <input type="number" class="form-control" id="maxPrice" [(ngModel)]="prices.max" />
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseTwo"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo"
          >
            Game
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
          <div class="accordion-body">
            <label for="typeahead-basic">Search for a game</label>
            <input id="typeahead-basic" type="text" class="form-control" (input)="onChangeGameName($event)" />
            <form>
              <div class="filterGames mt-1">
                <div class="form-group" *ngFor="let game of searchGames">
                  <input type="checkbox" id="{{ game }}" /> <label for="{{ game }}">{{ game }}</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#panelsStayOpen-collapseThree"
            aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree"
          >
            Accordion Item #3
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
          <div class="accordion-body">
            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the
            appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and
            hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth
            noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- products section -->
  <section class="col-lg-9 col-xl-10 col-md-12">
    <div class="container-fluid">
      <div class="d-flex flex-row">
        <div class="text-muted m-2" id="res">Showing 44 results</div>
        <div class="ml-auto mr-lg-4">
          <div id="sorting" class="border rounded p-1 m-1">
            <span class="text-muted">Sort by</span>
            <select name="sort" id="sort">
              <option value="popularity"><b>Popularity</b></option>
              <option value="prcie"><b>Price</b></option>
              <option value="rating"><b>Rating</b></option>
            </select>
          </div>
        </div>
      </div>
      <div
        class="row"
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <div class="col-md-6 col-lg-6 col-xl-4 mt-3" *ngFor="let item of items; trackBy: trackId">
          <div class="card">
            <div class="card-body cardGameBody">
              <h4 class="card-title cardGameTitle" data-toggle="tooltip" data-placement="top" title="{{ item.description }}">
                {{ item.description }}
              </h4>
              <h6 class="card-subtitle mb-2 text-muted">{{ item.price }}</h6>
              <p class="card-text">{{ item.gameName }}</p>
              <span *ngFor="let taglist of item.tags">
                {{ taglist.tag }}
              </span>
              <div class="row justify-content-center">
                <button class="btn btn-secondary col-5 ml-3" [routerLink]="['/item', item.id, 'view']">View</button>
                <button class="btn btn-primary col-5 mx-3" [routerLink]="['/item', item.id, 'view']">Buy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <div>
  <h2 id="page-heading" data-cy="ItemHeading">
    <span jhiTranslate="lobbyforplayersApp.item.home.title">Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.item.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-item"
        [routerLink]="['/item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lobbyforplayersApp.item.home.createLabel"> Create a new Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="items?.length === 0">
    <span jhiTranslate="lobbyforplayersApp.item.home.notFound">No items found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="items && items.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="lobbyforplayersApp.item.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="views">
            <span jhiTranslate="lobbyforplayersApp.item.views">Views</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sellerName">
            <span jhiTranslate="lobbyforplayersApp.item.sellerName">Seller Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sellerId">
            <span jhiTranslate="lobbyforplayersApp.item.sellerId">Seller Id</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="listedFlag">
            <span jhiTranslate="lobbyforplayersApp.item.listedFlag">Listed Flag</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="price">
            <span jhiTranslate="lobbyforplayersApp.item.price">Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="picturesPath">
            <span jhiTranslate="lobbyforplayersApp.item.picturesPath">Pictures Path</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="level">
            <span jhiTranslate="lobbyforplayersApp.item.level">Level</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fixedPrice">
            <span jhiTranslate="lobbyforplayersApp.item.fixedPrice">Fixed Price</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="gameName">
            <span jhiTranslate="lobbyforplayersApp.item.gameName">Game Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="platform">
            <span jhiTranslate="lobbyforplayersApp.item.platform">Platform</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="language">
            <span jhiTranslate="lobbyforplayersApp.item.language">Language</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="order.id">
            <span jhiTranslate="lobbyforplayersApp.item.order">Order</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let item of items; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/item', item.id, 'view']">{{ item.id }}</a>
          </td>
          <td>{{ item.description }}</td>
          <td>{{ item.views }}</td>
          <td>{{ item.sellerName }}</td>
          <td>{{ item.sellerId }}</td>
          <td>{{ item.listedFlag }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.picturesPath }}</td>
          <td>{{ item.level }}</td>
          <td>{{ item.fixedPrice }}</td>
          <td>{{ item.gameName }}</td>
          <td>{{ item.platform }}</td>
          <td>{{ item.language }}</td>
          <td>
            <div *ngIf="item.order">
              <a [routerLink]="['/order', item.order?.id, 'view']">{{ item.order?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/item', item.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/item', item.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(item)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
